{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img.png' %}" width="300" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Mohamed Habib KHATTAT</h1>
          <h5 class="text-muted">Responsable Relations internationales</h5>
          <p class="text-muted">Dec, 2017 - Present</p>
          <ul class="text-muted">
            <li>3+ years of experience in Python, designing, developing, testing and implementing cloud-based microservices and REST APIs</li>
            <li>Designed and developed retention policy REST API framework for Postgres data using Python Flask</li>
            <li>Developed simulator tools to generate huge amount of traffic into the system for performance measurement</li>
            <li>Experience in developing web applications implementing MVC architecture using Django, Flask web application frameworks</li>
            <li>Experience in Agile Methodologies and Scrum-based experience in a unix environment</li>
            <li>Hands-on experience with cloud platforms like AWS (EC2, S3) and OpenStack</li>
            <li>Hands-on experience in tools like JIRA, Github, Kubernetes, Docker</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <!-- Full-Stack Developer Codebreak -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_1.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Fatma BEN Mbarek</h1>
          <h5 class="text-muted">Secrétaire général</h5>
          <p class="text-muted">Sep, 2017 - Dec, 2017</p>
          <ul class="text-muted">
            <li>Improved the official website (codebreak.in) and introduced new features and functionalities</li>
            <li>Implement search and filter contents on the frontend with the real time data from the database using search API</li>
            <li>Develop APIs and integrate them with the frontend along with all the validations to provide a seamless user experience</li>
            <li>Develop and host the official microsite (marketpredictor.in) from scratch, setup and install initial configurations to make the site up and running</li>
            <li>Research effective keywords and optimize the sites to improve rankings, drive traffic and increase awareness in search engines (SEO)</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
          <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_2.png' %}" width="300" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Narmin Othmen</h1>
          <h5 class="text-muted">Responsable Marketing et communication</h5>
          <p class="text-muted">Dec, 2017 - Present</p>
          <ul class="text-muted">
            <li>3+ years of experience in Python, designing, developing, testing and implementing cloud-based microservices and REST APIs</li>
            <li>Designed and developed retention policy REST API framework for Postgres data using Python Flask</li>
            <li>Developed simulator tools to generate huge amount of traffic into the system for performance measurement</li>
            <li>Experience in developing web applications implementing MVC architecture using Django, Flask web application frameworks</li>
            <li>Experience in Agile Methodologies and Scrum-based experience in a unix environment</li>
            <li>Hands-on experience with cloud platforms like AWS (EC2, S3) and OpenStack</li>
            <li>Hands-on experience in tools like JIRA, Github, Kubernetes, Docker</li>
          </ul>
        </div>
      </div>
    </div>
      <hr>
          <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_3.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Azer Jmoni</h1>
          <h5 class="text-muted">Président</h5>
          <p class="text-muted">Dec, 2017 - Present</p>
          <ul class="text-muted">
            <li>3+ years of experience in Python, designing, developing, testing and implementing cloud-based microservices and REST APIs</li>
            <li>Designed and developed retention policy REST API framework for Postgres data using Python Flask</li>
            <li>Developed simulator tools to generate huge amount of traffic into the system for performance measurement</li>
            <li>Experience in developing web applications implementing MVC architecture using Django, Flask web application frameworks</li>
            <li>Experience in Agile Methodologies and Scrum-based experience in a unix environment</li>
            <li>Hands-on experience with cloud platforms like AWS (EC2, S3) and OpenStack</li>
            <li>Hands-on experience in tools like JIRA, Github, Kubernetes, Docker</li>
          </ul>
        </div>
      </div>
    </div>
      <hr>
    <!-- Full-Stack Developer Saakshar -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_4.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Ilyes Bensaid</h1>
          <h5 class="text-muted">Trésorier</h5>
          <p class="text-muted">Jul, 2017 - Sep, 2017</p>
          <ul class="text-muted">
            <li>Develop the official website (saakshar.org) from scratch using PHP, Wordpress</li>
            <li>Develop Wordpress templates for the website to match the design requirements</li>
            <li>Develop and host the official website setup and install initial configurations to make the site up and running</li>
            <li>Research effective keywords and optimize the sites to improve rankings, drive traffic and increase awareness in search engines (SEO)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block hireme %}
<section class="py-5 bg-persian-green">
  <div class="container text-center">
    <img class="rounded-circle" src="{% static 'appportfolio/images/120x120.png' %}" alt="">
    <h1 class="font-weight-bold">Interested in hiring me for your project?</h1>
    <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="text-sandy-brown" href="#">soumya173@gmail.com</a> or use the <a class="text-sandy-brown" href="#">form on the contact page</a>.</p>
    <a class="btn btn-info bg-crayola" href="#">Let's Talk</a>
  </div>
</section>
{% endblock %}
