{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img.png' %}" width="300" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Mohamed Habib KHATTAT</h1>
          <h5 class="text-muted">Responsable Relations internationales</h5>

          <ul class="text-muted">
              <li>10+ années du travail associatif </li>
            <li>pendant les années 2025,2026,2027 j'étais le directeur de protocole des relations internationale au sein de
                l'assemblé de  representant de peuple</li>
            <li>diplomé en science politique</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
       <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/gickel.jpg' %}" height="370" width="300" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Gickel Okabisseke</h1>
          <h5 class="text-muted">Vice Président</h5>

          <ul class="text-muted">
              <li>Ingénieur infomatique, j'ai eu l'opportunité de travailler au sein du bank central internationale</li>
              <li>une experience de 10 en entreprenariat</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <!-- Full-Stack Developer Codebreak -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_1.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Fatma BEN Mbarek</h1>
          <h5 class="text-muted">Secrétaire général</h5>


        </div>
      </div>
    </div>
    <hr>
          <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_2.png' %}" width="300" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Narmin Othmen</h1>
          <h5 class="text-muted">Responsable Marketing et communication</h5>
          <ul class="text-muted">

          </ul>
        </div>
      </div>
    </div>
      <hr>
          <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_3.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Azer Jmoni</h1>
          <h5 class="text-muted">Président</h5>
          <ul class="text-muted">

          </ul>
        </div>
      </div>
    </div>
      <hr>
    <!-- Full-Stack Developer Saakshar -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/img_4.png' %}" width="300" height="370" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Ilyes Bensaid</h1>
          <h5 class="text-muted">Trésorier</h5>
          <ul class="text-muted">
            <li>Enseignant</li>
            <li>experience de 4 ans en finance et statistique</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}




{% block hireme %}

{% endblock %}
