{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="py-5 bg-persian-green">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-center text-md-right">
        <img src="{% static 'appportfolio/images/logo.png' %}"  alt="..." class="img-thumbnail">
      </div>
      <div class="col-sm-8">
        <h1 style="color:#ddffdd">Jeunesse Démocrate</h1>
        <h1 style="color: #eeeeee">Le changement, c'est maintenant!</h1>
        <p class="font-weight-light" style="color: #e8e8e8"> nous sommes un courant politique qui consiste à mettre en place des idées libérales sur le plan économique et social</p>
        <a href="#" class="btn btn-info bg-crayola">Conacter nous</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-bold">Notre priorité</h1>
    <div class="row">
      <!-- Frontend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Éducation</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">

            </ul>
          </div>
        </div>
      </div>
      <!-- Backend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i  aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Économie</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">

            </ul>
          </div>
        </div>
      </div>
      <!-- Others -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i  aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Jeunesse</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-sandy-brown">
  <div class="container-fluid">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
          <div class="row text-left">
            <div class="col-md-6 m-auto ">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Marwen M<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">
"Jeunesse démocrate, une équipe des jeunes actifs, je croie profondémment que la tunisie
                      ça deviendra en avant si les démocrates prennent le pouvoir "                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item">
          <div class="row text-left">
            <div class="col-md-6 m-auto">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Sara DG<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">"Jeunesse démocrate, une équipe des jeunes actifs, je croie profondémment que la tunisie
                      ça deviendra en avant si les démocrates prennent le pouvoir..... "
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item">
          <div class="row text-left">
            <div class="col-md-6 m-auto ">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Aymen NE<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">""Jeunesse démocrate, une équipe des jeunes actifs, je croie profondémment que la tunisie  ça deviendra en avant si les démocrates prennent le pouvoir ""
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}


{% block hireme %}

{% endblock %}
