{% extends 'base.html' %}
{% load static%}
{% block content %}
<section class="py-5 bg-persian-green">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-center text-md-right">
        <img src="{% static 'appportfolio/images/logo.png' %}"  alt="..." class="img-thumbnail">
      </div>
      <div class="col-sm-8">
        <h1 style="color:#ddffdd">Jeunesse Démocrate</h1>
        <h1 style="color: #eeeeee">Le changement, c'est maintenant!</h1>
        <p class="font-weight-light" style="color: #e8e8e8"> nous sommes un courant politique qui consiste à mettre en place des idées libérales sur le plan économique et social</p>
        <a href="#" class="btn btn-info bg-crayola">Hire Me</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-bold">Notre priorité</h1>
    <p>I have over 3+ years of experience building rich web applications for clients all over the world. Below is a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? Check out my online resume.</p>
    <div class="row">
      <!-- Frontend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-desktop fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Éducation</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> JavaScript/jQuery</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> HTML/CSS/Bootstrap</li>
              <br>
              <br>
            </ul>
          </div>
        </div>
      </div>
      <!-- Backend -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-gears fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Économie</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Python/Flask/Django</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Shell/Bash</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> PostgresSQL/MySQL</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> PHP</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Others -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-hover-effect">
          <div class="card-header">
            <!-- <img src="https://via.placeholder.com/100" alt="..." class="rounded"> -->
            <i class="fa fa-send fa-5x text-charcoal my-4" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Jeunesse</h5>
            <!-- <h6 class="card-price text-center">$0<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul text-left">
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Wordpress</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Docker/Kubernetes</li>
              <li><i class="fa fa-check text-persian-green" aria-hidden="true"></i> Unit Testing</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-sandy-brown">
  <div class="container-fluid">
    <h1 class="font-weight-bold text-center mb-5">Feedbacks</h1>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
          <div class="row text-left">
            <div class="col-md-6 m-auto ">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Manoj M<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">"Soumyajit and I worked together in the same team for close to 2 years. He is one of the skilled candidates I have ever worked with. He is very quick to learn and understand the functionalities and is very adaptive with the tasks assigned to him. Be it Python, C++. Perl, his deliverables were of very high quality."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item">
          <div class="row text-left">
            <div class="col-md-6 m-auto">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Ravikiran DG<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">"Soumyajit Gorai is a perfect example of a skilled developer. He is focused, reliable and hardworking individual. It was a pleasure working with him for three years at Ribbon communications. He was the one whom I trusted and looked forward for any advice or guidance. His ability to go out of his way to help others has made him stand out. Any organization would be lucky to have him in their team."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item">
          <div class="row text-left">
            <div class="col-md-6 m-auto ">
              <div class="card mb-2">
                <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Rajesh NE<a href="https://www.linkedin.com/in/soumyajit-gorai-58b71110a/" class="btn btn-link float-right" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></h4>
                  <p class="card-text text-muted">"Soumyajith is a smart team player and he is too eager to learn new technologies. He is always too fast in meeting dead lines and his ability to deal the complex use cases is just amazing. His main positives is his helping nature to the team mates. Am seeing him as a good team leader and successful techie in upcoming years!!!"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
{% block hireme %}
<section class="py-5 bg-persian-green">
  <div class="container text-center">
    <img class="rounded-circle" src="{% static 'appportfolio/images/120x120.png' %}" alt="">
    <h1 class="font-weight-bold">Interested in hiring me for your project?</h1>
    <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="text-sandy-brown" href="mailto:soumya173@gmail.com">soumya173@gmail.com</a> I'll get back to you.</p>
    <a class="btn btn-info bg-crayola" href="mailto:soumya173@gmail.com">Let's Talk</a>
  </div>
</section>
{% endblock %}
